<div class="section footer-section">
  <div class="w-layout-grid grid-4">
    <div>
      <div><strong>EMAIL<br>bluveda.holistic<strong>@gmail.com<br>‍</strong></strong><strong>PHONE<br></strong><a href="tel:+447510139307"><strong class="bold-text-2">07510 139307</strong></a>
      </div>
    </div>
    <div id="w-node-ce10be5e-f237-e926-bcf0-34a552e65c92-2c54b452" class="divinsta">
      <a href="https://www.instagram.com/bluveda/" target="_blank" class="w-inline-block"><img src="/images/Instagram_icon-1.png" loading="lazy" width="45" alt="" class="image-13"></a>
    </div>
    <div class="text-block-65">
      <a href="https://www.dt-1.co.uk"><strong class="bold-text-5">Site by DT1</strong></a>
    </div>
  </div>
</div>
